h1, h2 {
  font-family: Lato;
}

.wrapper{
  position: relative;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 50%;
  height: 400px;
}

.box{
  position: absolute;
  display: block;
  background-color: #acf;
  /* inset: 0px 0px 0px 0px; */
}

.item{
  position: absolute;
  display: block;
  background-color: red;
}